*~*
*#*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.btmp
*cookie
*.d
.DS_Store
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.gz
*.idx
*.ilg
*.ind
*.ist
*_latexmk
*.loa
*.lof
*.log
*.lot
*make
*.nlg
*.nlo
*.nls
*.out
*run.xml
*.sbl
*.slg
*.sym
*.tdo
paper.bcf
paper.run.xml
paper.txt
*.toc
